<h1>Directory</h1>
		<div class="myRow">
			<div class="myCol myLeft myTextBox">
				<h2>Town of Hempsteads Beaches</h2>Read on for the Towns greatest beaches.<p><a href="/our_beaches/" class="myLinkButton">Read more...</a></p></div>

<div class="myCol myRight myTextBox"><h2>Employment</h2>Seeking work? We hire!<p><a href="/employment/" class="myLinkButton">Read more...</a></p></div>

<div class="myCol myLeft myTextBox"><h2>Documents</h2>Important documents stored here.<p><a href="/forms/" class="myLinkButton">Read more...</a></p></div>

<div class="myCol myRight myTextBox"><h2>Reports</h2>Have concerns? Direct them here.<p><a href="/contact_us/" class="myLinkButton">Read more...</a></p></div>

<div class="myCol myLeft myTextBox"><h2>Media Gallery</h2>Yeah<p><a href="/media/" class="myLinkButton">Read more...</a></p></div>

<div class="myCol myRight myTextBox"><h2>Staff Login Page</h2>For Employees Only.<p><a href="/staff_login/" class="myLinkButton">Click here...</a></p></div></div>

<div class="myRow"><h1>Stand Locations</h1><div class="myTextBox"><p>Our crew maintains 17 portable wooden lifeguard stands across our strip. A minimum of two lifeguards are assigned to each stand, and it can exceed to ten. Stands are subject to maintenance, closure, and other elements. At our most well-attended beaches, we place qualified EMTs, equipped with top-gear medical equipment. Our administrative office is located at Point Lookout.</p> </div></div>

<div class="myRow"><h1>Beach Wheel Chairs</h1><div class="myTextBox"><p>Beach Wheel Chairs are avaliable to the general public, and can be retrieved at the Point Lookout office. It is a first come, first served on a daily basis. Lifeguards can bring the wheelchairs to you. Beach Wheel Chairs Hours of Operation (10:00 AM to 5:00 PM 7 days a week)</p></div></div>

