<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Civic</th>
      <th>Middle</th>
      <th>2 Chair</th>
      <th>Main</th>
      <th>7 Chair</th>
      <th>Malibu</th>
      <th>Nassau 2</th>
      <th>Nassau 5</th>
      <th>Reef</th>
      <th>NULL</th>
      <th>Key</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>lt0</td>
      <td>sr0</td>
      <td>sr0</td>
      <td>lt0</td>
      <td>sr0</td>
      <td>lt0</td>
      <td>lt0</td>
      <td>sr0</td>
      <td>lt0</td>
      <td>NaN</td>
      <td>Lieutenant</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>lg0</td>
      <td>sr1</td>
      <td>lt1</td>
      <td>lg0</td>
      <td>lt1</td>
      <td>lt1</td>
      <td>lg0</td>
      <td>lt1</td>
      <td>NaN</td>
      <td>Senior Guard</td>
    </tr>
    <tr>
      <th>2</th>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg0</td>
      <td>lg1</td>
      <td>lg0</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>NaN</td>
      <td>Weekends Only*</td>
    </tr>
    <tr>
      <th>3</th>
      <td>lg2</td>
      <td>lg2</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>NaN</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg2</td>
      <td>lg2</td>
      <td>NaN</td>
      <td>Part-time</td>
    </tr>
    <tr>
      <th>4</th>
      <td>lg1</td>
      <td>NaN</td>
      <td>lg1</td>
      <td>lg2</td>
      <td>NaN</td>
      <td>lg2</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg3</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>lg1</td>
      <td>NaN</td>
      <td>NULl</td>
      <td>lg3</td>
      <td>NaN</td>
      <td>lg3</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg4</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>lg4</td>
      <td>NaN</td>
      <td>lg4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>lg5</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>lg5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Anchor</td>
      <td>East Lido</td>
      <td>Main Lido</td>
      <td>West Lido</td>
      <td>Lido West</td>
      <td>Surfing Bay</td>
      <td>EAB</td>
      <td>Seaglades</td>
      <td>Roving</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>sr0</td>
      <td>sr1</td>
      <td>lt0</td>
      <td>sr0</td>
      <td>lt0</td>
      <td>lt1</td>
      <td>lt1</td>
      <td>sr0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14</th>
      <td>sr11</td>
      <td>lg0</td>
      <td>lg0</td>
      <td>lg0</td>
      <td>lt1</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>lg0</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lt2</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>lg1</td>
      <td>NaN</td>
      <td>lg2</td>
      <td>lg2</td>
      <td>lg0</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>lg2</td>
      <td>NaN</td>
      <td>lg3</td>
      <td>NaN</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>lg3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>lg4</td>
      <td>NaN</td>
      <td>lg2</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>lg4</td>
      <td>NaN</td>
      <td>lg3</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>lg4</td>
      <td>NaN</td>
      <td>lg4</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>lg4</td>
      <td>NaN</td>
      <td>lg5</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>lg4</td>
      <td>NaN</td>
      <td>lg6</td>
      <td>lg1</td>
      <td>lg1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>